
# Temporary holds: Lecture
*INST

# Temporary holds: Assignments

# Notes cache
notes/*/slides_cache/*

# Non-review test files
midterm/exam/*
final/exam/*

# Misc files
*.DS_Store
*.here
*.Rproj
.Rproj.user
.positai
