
# Temporary holds: Lecture
*INST

# Temporary holds: Assignments
problem-sets/000/000-questions.qmd

# Notes cache
notes/*/slides_cache/*

# Non-review test files
final/exam/*

# Misc files
*.DS_Store
*.here
*.Rproj
