
# Temporary holds: Lecture

# Temporary holds: Assignments
problem-sets/002/data-raw*
problem-sets/002/002-questions.qmd

# Notes cache
notes/*/slides_cache/*

# Non-review test files
final/exam/*

# Misc files
*.DS_Store
*.here
*.Rproj
